body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

#drawingCanvas {
    border: 1px solid #000;
    background-color: #fff;
}
